$dark-sailor: #000;
$foam: #fff;
$corail: #fa633a;

.todolist__div {
  background-image: url(https://res.cloudinary.com/dn7zdnm89/image/upload/v1649187787/Welcome%20on%20Board/waves_vapxwy.png);
  background-size: cover;
  background-position: bottom left;
  margin: 0;
  min-height: 92vh;
  grid-template-rows: auto 1fr auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .headband__div {
    width: 100%;
    // border: solid 3px red;
    display: flex;
    justify-content: space-between;
    height: 114px;
    align-items: flex-end;
    margin-top: 1rem;

    h1 {
      font-size: 96px;
      font-weight: bold;
    }
    button {
      background-color: $foam;
      color: $corail;
      font-weight: bold;
      font-size: 20px;
      border: solid $corail 1px;
      height: 55px;
      width: 250px;

      &:hover {
        cursor: pointer;
        color: $foam;
        background-color: $corail;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
        transition: 0.3s;
      }
    }
  }

  .list-section__div {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    gap: 30px;
    .listCard__div {
      display: flex;
      flex-direction: column;
      width: 295px;
      gap: 30px;

      .listHead__div {
        border-bottom: solid $dark-sailor 1px;
        display: flex;
        justify-content: space-between;

        h2 {
          font-size: 24px;
        }

        .updateItem__div {
          display: flex;
          gap: 15px;
        }
      }

      .listBody__div {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .taskCard__div {
          border: solid 1px $dark-sailor;
          display: flex;
          justify-content: space-between;
          width: 275px;
          height: 50px;
          align-items: center;
          font-size: 20px;
          background-color: $foam;
          padding: 10px;
          &:hover {
            border: solid $dark-sailor 2px;
            cursor: pointer;
            transition: 0.3s;
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
              0 17px 50px 0 rgba(0, 0, 0, 0.19);
          }
          .taskDone__h3 {
            text-decoration: line-through;
          }
          .cardOptions__div {
            display: flex;
            gap: 15px;
          }
        }
      }
    }
  }
}
