@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

$foam: #fff;

html,
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: $foam;
}

.container__div {
  max-width: 1400px;
  // border: black solid 5px;
}
